<div id="toast-container" class="toast-container">
    <template id="toast-template">
        <div class="toast" role="alert">
            <div class="toast__icon">
                <i class="bi"></i>
            </div>
            <div class="toast__body">
                <div class="toast__title"></div>
                <div class="toast__msg"></div>
            </div>
            <div class="toast__close">
                <i class="bi bi-x"></i>
            </div>
        </div>
    </template>
</div>