<div class="navbar">
    <!-- Danh sách header bên trái -->
    <div class="navbar__left">
        <div class="navbar__left__logo">
            <!-- Vẽ nền tết -->
            <div class="navbar__left__logo__bg__tet"></div>
            <!-- App -->
            <div class="navbar__left__logo__luncher">
            </div>
            <!-- Logo -->
            <div class="navbar__left__logo__icon">
            </div>
            <!-- App name -->
            <div class="navbar__left__logo__name">
                Tuyển dụng
            </div>
        </div>
        <div class="navbar__left__search">
            <div class="navbar__left__search__icon"></div>
            <input class="navbar__left__search__input" placeholder="Tìm kiếm tin tuyển dụng, ứng viên, nhân tài,..." />
        </div>
    </div>
    <!-- Danh sách header bên phải -->
    <div class="navbar__right">
        <div class="navbar__right__website">
            <div class="navbar__right__website__icon">

            </div>
            <div class="navbar__right__website__text">
                Website tuyển dụng
            </div>
        </div>
        <!-- chuong thong bao -->
        <div class="navbar__right__item" title="Thông báo">
            <div class="navbar__right__notify__icon"></div>
        </div>
        <!-- chat -->
        <div class="navbar__right__item">
            <div class="navbar__right__chat__icon"></div>
        </div>
        <div class="navbar__right__item">
            <div class="navbar__right__help__icon"></div>
        </div>
        <div class="navbar__right__item">
            <div class="navbar__right__option__icon"></div>
        </div>
        <div class="navbar__right__item">
            <div class="navbar__right__avatar__icon"></div>
        </div>
    </div>
</div>