<div class="sidebar">
    <div class="sidebar_bg">
        <!-- Danh sách item menu -->
        <div class="sidebar__menu">
            <div class="sidebar__menu__item" onclick="navigateToHiringPostPage(this)">
                <div class="sidebar__menu__item__recruiment__icon"></div>
                <div class="sidebar__menu__item__text">Tin tuyển dụng</div>
            </div>
            <div class="sidebar__menu__item sidebar__menu__item-active" onclick="navigateToCandidatePage(this)">
                <div class="sidebar__menu__item__user__icon"></div>
                <div class="sidebar__menu__item__text">Ứng viên</div>
            </div>
            <div class="sidebar__menu__item" onclick="navigateToCalendarPage(this)">
                <div class="sidebar__menu__item__calendar__icon"></div>
                <div class="sidebar__menu__item__text">Lịch</div>
            </div>
            <div class="sidebar__menu__item" onclick="navigateToPotentialPage(this)">
                <div class="sidebar__menu__item__tiem__nang__icon"></div>
                <div class="sidebar__menu__item__text">Kho tiềm năng</div>
            </div>
            <div class="sidebar__menu__item" onclick="navigateToHiringCampaignPage(this)">
                <div class="sidebar__menu__item__hiring__campaign__icon"></div>
                <div class="sidebar__menu__item__text">Chiến dịch tuyển dụng</div>
            </div>
            <div class="sidebar__menu__item" onclick="navigateToJobPage(this)">
                <div class="sidebar__menu__item__job__icon"></div>
                <div class="sidebar__menu__item__text">Công việc</div>
            </div>
            <div class="sidebar__menu__item" onclick="navigateToAIMarketingPage(this)">
                <div class="sidebar__menu__item__ai__marketing__icon"></div>
                <div class="sidebar__menu__item__text">aiMarketing</div>
            </div>
            <div class="sidebar__menu__item" onclick="navigateToContactPage(this)">
                <div class="sidebar__menu__item__contact__icon"></div>
                <div class="sidebar__menu__item__text">Trao đổi với ứng viên</div>
            </div>
            <div class="sidebar__menu__item" onclick="navigateToReportPage(this)">
                <div class="sidebar__menu__item__report__icon"></div>
                <div class="sidebar__menu__item__text">Báo cáo</div>
            </div>
            <div class="sidebar__menu__item" onclick="navigateToSettingPage(this)">
                <div class="sidebar__menu__item__setting__icon"></div>
                <div class="sidebar__menu__item__text">Thiết lập</div>
            </div>
            <div class="sidebar__menu__item" onclick="navigateToKnowledgePage(this)">
                <div class="sidebar__menu__item__knowledge__icon"></div>
                <div class="sidebar__menu__item__text">Kiến thức hữu ích</div>
            </div>
        </div>
        <!-- Button Thu gọn -->
        <div class="sidebar__toggle">
            <div class="sidebar__toggle__icon"></div>
            <button type="button" class="sidebar__toggle__text">Thu gọn</button>
        </div>
    </div>
</div>